html, body {
  margin:0px;
  padding: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #E9F8FF;
  color: #19263B;
}



.container{
  
  margin:0px;
  padding: 0px;
 
}

.content{
  width: 80%;
  margin: 0 auto;
  margin-bottom: 30px;

}

ul{
  list-style:none; 
}

button{
  cursor: pointer;
  outline:none;
  border: 0;
  border-radius: 2px;
}
.myheader{
  background-image: url("../assets/img-top2.png");
  border-radius: 0px 0px 150px 0px;
  background-repeat: no-repeat;
  background-color: #000000;

  width: 100%;
  height: 40%;
  min-height: 600px;

	background-size: cover;
  background-position: center;
	display: flex;
	flex-direction: column;
  position: relative; 
  color: #F5FFFA;

}

.myheader .logo{
  max-width: 100px;

}

.myheader .contentHeader {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  margin-top: 50px;
  max-width: 50%;
}

.myheader h1{
  text-transform: uppercase;
  
  font-size: 50px;
  font-family: "Russo One";
}

.myheader p{
  margin-top: -30px;
}

.banner{
  height: 200px;
  background-color: #F2585A;
  /* z-index: -200000; */
  margin-top: -150px;
  position: static;
  border-radius: 0px 0px 150px 0px;
}
.buttonsColors{
 
  margin-left: 70%;
  position: absolute;
  display: flex;
  flex-direction: row;
  max-width: 100%;
}

.buttonsColors button{
  border: 0;
  padding: 5px;
  max-width: 50%;
  
}

.buttonsColors button:focus {
  border: 1px solid rgb(119, 119, 119);
  -webkit-box-shadow: 5px 5px 28px -4px #6D6D6D; 
  box-shadow: 5px 5px 28px -4px #6D6D6D;
  
} 

.background1{
  background-color:  #E9F8FF;
}
.background2{
  background-color: rgb(255, 204, 204) !important;
}
.background3{
  background-color: rgb(245, 210, 157);
}





.buttonsHeader{
  display: flex;
  flex-direction: row;

}
.buttonsHeader .mybutton1 {
  margin-right: 10px;
}

.mybutton1{
  color: #F5FFFA;
  background-color: #F2585A;
  border: 0;
  
  padding: 13px;
  font-family: "Tame Book";
  font-size: 17px;
  
  
}

.mybutton1:hover{
  opacity: 0.9;

}
.mybutton2{
  color: #F5FFFA;
  background-color: #FEC019;
  padding: 13px;
  font-family: "Tame Book";
  font-size: 17px;
  
}
.mybutton2:hover{
  opacity: 0.9;

}

section{
  margin-top: 70px;
}

.services h1{
  width: 50%;
  font-size: 30px;
}

.services .cards-services{
  display: flex;
  flex-direction: row;
}

.cards-services .card-service{
  width: 45%;
  
  margin-right: 50px;
  border: 1px solid rgb(204, 204, 204);
  
}
.cards-services .card-service:hover{
  -webkit-box-shadow: 5px 5px 28px -4px #6D6D6D; 
  box-shadow: 5px 5px 28px -4px #6D6D6D;
  background-color: #ffffff;
}

.cards-services .card-service img{
  width: 60px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}


.cards-services .card-service h4{
  max-width: 70%;
  padding-left: 20px;

}

.systems{
  display: flex;
  flex-direction: row;
  margin-top: 100px;
  
}


.items-systems {
  width: 50%;
  margin-right: 120px;
}

.img-systems img{
  width: 300px;
  border-radius: 10px;
  -webkit-box-shadow: -5px 2px 28px -12px #6D6D6D; 
  box-shadow: -5px 2px 28px -12px #6D6D6D;
}

.list{
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.list .list-systems{
  font-weight: bold;
  
}

 .icon-item{
  width: 15px;
  padding-right: 10px;

}

.list .list-systems li{
  margin-top: 15px;
}




.comments {
  background-image: url("../assets/background-contact.PNG");

  background-repeat: no-repeat;

  width: 100%;
  height: 40%;
  min-height: 600px;

	background-size: cover;
  background-position: center;
	display: flex;
	flex-direction: column;
  position: relative;
  background-color: #13283D ;
  margin:0px;
  padding: 0px;
  margin-bottom: 20px;
  /* display: flex;
  flex-direction: row; */
  
}

.comments .img-contact{
  border-radius: 10px;
  max-width: 40%;
  
}
.comments .img-contact img{
  max-width: 100%;
  
}

.commentsContent{
  margin-left: 100px;
  margin-top: 50px;
  color: #ffffff;
  padding-top: 30px;
}

.boxComments{
  color: #13283D;
  background-color: white;
  max-width: 40%;
  overflow:auto;
  height: 100px;
  margin-top: 20px;

}

.boxComments .list-comments{
  padding-left: 20px;
}
.list-comments li span{
  font-weight: bold;
  margin-right: 8px;
}

.list-comments li{
  border-bottom: 1px solid rgb(204, 204, 204);
  padding-bottom: 10px;
  padding-top: 10px;
}

.list-comments button{
  margin-left: 10px;
}

.commentsContent #form{
  display: flex;
  flex-direction: column;
  max-width: 40%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#form button{
  max-width: 40%;
  text-align: center;
  margin-left: 60%;
  margin-top: 10px;

}


.commentsContent input{
  padding: 10px;
  padding-left: 20px;
  border: 0;
  border-radius: 5px;
  outline:none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
}

.commentsContent span{
  margin-bottom: 10px;
}

.commentsContent .inputMessage{
  height: 70px;
  padding: 10px;
  padding-left: 20px;
  border: 0;
  border-radius: 5px;
  outline:none
  
}

.commentsContent textarea{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
}

.commentsContent .spanMessage{
  margin-top: 10px;
}

.informations{
  display: flex;
  flex-direction: row;
  /* margin-left: 100px; */
  max-width: 100%;
  margin: 0 auto;
  justify-content: center;
  /* align-items: center */
  
}

.informations ul{
  padding-left: 0px;
  margin-right: 50px;
}

.informations ul li{
  margin-bottom: 15px;
}



.informations .subscribe{
  /* max-width: 00px; */
  width: 350px;
}

.informations .subscribe button{
  max-width: 40%;
  text-align: center;
  margin-left: 77%;
  margin-top: 10px;
}
.informations input{
  width: 300px;
  padding: 10px;
  padding-left: 20px;
  border: 0;
  border-radius: 5px;
  outline:none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
}
/* .informations .informationsContent{
  margin-left: 100px;
  max-width: 80%;
  margin: 0 auto;
} */

.modalContainer{
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, .5);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 20000;
  display: none;
  justify-content: center;
  align-items: center;
}

.modalContainer.show{
  display: flex;

}

.modal{
  background-color: #ffffff;
  width: 60%;
  min-width: 300px;
  text-align: center;
  padding: 40px;
  position: relative;

}

@keyframes modal{
  from{
    opacity: 0;
    transform: translate3d(0, -60px, 0);
  }
  to{
    opacity: 1;
    transform: translate3d(0, 0px, 0);
  }
}

.show .modal{
  animation: modal .3s;

}

.closeModal{
  position: absolute;
  top: 0px;
  right: 0px;
  
}


footer{
  text-align: center;
  background-color: rgb(228, 229, 230);
  padding: 20px;
}
footer button{
  text-decoration: none;
  color: #F2585A;
  font-weight: bold;
 
  
}